html, body {
  background-image: linear-gradient(#DFD7CA, #CAD9DF);
}

h1, h3 {
  font-family: serif;
  text-align: center;
}

h4 {
  font-family: sans-serif;
}

p, li {
  font-size: 12pt;
  font-family: sans-serif;
}

img {
  width: 200px;
  height: auto;
}

.header-footer {
  margin: 10px;
  border: 3.5px solid black;
  padding: 4px;
}

.center {
  text-align: center;
}

.center p {
  font-family: sans-serif;
}

.grey {
  color: grey;
}

.float-interests {
  width: 355px;
  float: left;
}

.float-hobbies {
  width: 355px;
  float: left;
}

.float-skills {
  width: 355px;
  float: left;
}
