html, body {
  background-image: linear-gradient(#DFD7CA, #CAD9DF, #70D1C5);
}

h1, h3 {
  font-family: serif;
}

h4 {
  font-family: sans-serif;
}

p, li {
  font-size: 12pt;
  font-family: sans-serif;
}

img {
  width: 200px;
  height: auto;
}

.header-footer {
  margin: 10px;
  border: 6px solid black;
  padding: 4px;
}

.header-footer h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.center p {
  font-family: sans-serif;
}
