html, body {
  background-color: white;
}

h1, h3 {
  font-family: cursive;
}

.center {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
}

.georgia {
  font: georgia
}

.left {
  width: 300px;
  float: left;
}

.right {
  float: right;
}
